<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="file0" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data\AAPL.csv"/>
		<add key="file1" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data\AMD.csv"/>
		<add key="file2" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data\MSFT.csv"/>
		<add key="file3" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data\TSLA.csv"/>
		<add key="file4" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data\TWTR.csv"/>
		<add key="manager_host" value="inproc://tradepathcapital"/>
		<add key="publisher_host" value="tcp://localhost:12345"/>
	</appSettings>
</configuration>