<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filespath" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data"/>
		<add key="file0" value="AAPL.csv"/>
		<add key="file1" value="AMD.csv"/>
		<add key="file2" value="MSFT.csv"/>
		<add key="file3" value="TSLA.csv"/>
		<add key="file4" value="TWTR.csv"/>
		<add key="manager_host" value="inproc://tradepathcapital"/>
		<add key="publisher_host" value="tcp://localhost:12345"/>
	</appSettings>
</configuration>