<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filespath" value="E:\Projects\Test\tradepathcapital\tradepathcapital\data"/>
		<add key="file1" value="AAPL.csv"/>
		<add key="file2" value="AMD.csv"/>
		<add key="file3" value="MSFT.csv"/>
		<add key="file4" value="TSLA.csv"/>
		<add key="file5" value="TWTR.csv"/>
		<add key="fileservice" value="inproc://tradepathcapital"/>
	</appSettings>
</configuration>